.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: gray;
}
.panel {
  display: flex;
  box-shadow: 10px 10px 5px lightgray;
}
.leftPanel {
  min-width: 200px;
  min-height: 500px;
  font-size: 18px;
  border: 2px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  border: 2.5px solid lightgray;
  padding: 30px;
}
.rightPanel {
  min-width: 800px;
}
.inputPanel {
  min-width: 800px;
  min-height: 150px;
  border: 2px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
input { 
  min-width: 300px;
  padding: 16px;
  font-size: 18px;
  border: 2px solid lightgray;
  color: gray;
  border-radius: 10px;
}
button {
  padding: 18px;
  margin-left: 10px;
  background-color: white;
  color: gray;
  border: 2px solid lightgray;
  border-radius: 10px;
}
.outputPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  min-height: 350px;
  border: 2px solid lightgray;
}